.text {
  margin-left: 11vw;
  margin-right: 5vw;
}
.Projects {
  padding-top: 4vh;
}
.youtubeVideo {
  display: flex;
  justify-content: center;
  height: 60vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

@media (max-width: 840px) {
  .youtubeVideo {
    margin-left: 0;
    margin-right: 0;
  }
}
