.header {
  background-image: url("../images/enchantments.png") ;

  width: 100vw;
  display: inline-block;

  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

}
@media (max-width: 381px) {
  .header{
    width: auto;
  }
}
.flexboxContainer{
  display: flex;
  flex-direction: column;
  justify-content:  flex-end;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  height: 3em;
}

.activeTab{
  text-decoration: none;
  cursor: pointer;
  background: var(--active-tab-color);
  
  /* text settings */
  box-shadow: inset 0px 1px 1px var(--stroke-color);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  
  font-family: "Permanent Marker";
  
  text-align: center;
  color: var(--light-text-color);
}

.tab{
  text-decoration: none;
  cursor: pointer;
  background: var(--primary-color);

  /* text settings */
  box-shadow: inset 0px 1px 1px var(--stroke-color);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  font-family: "Permanent Marker";

  text-align: center;
  color: var(--black-text-color);
}

.nate {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  color: var(--light-text-color);
  text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color), -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color);
  margin: 0;
  margin-left: 2vw;
  margin-top: 8vh;
}

.title {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  color: var(--light-text-color);
  text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color), -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color);
  margin: 0;
  margin-left: 2vw;
}
