.header{
    /* background-image: url('./enchantments.png'); */
    width: '100vw';
    height: '80vh';
    background-position: 'center';
    background-repeat: 'no-repeat';
    background-size: 'cover';
    display: 'inline-block';
    text-align: 'center';
    /* background-color: var(--primary-color) */
  }


.natekester {

    color: var(--dark-primary-color);
    margin-top: 0;
    padding-top: 60px;
    /* padding-left: 30px; */
    text-shadow: 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color);
}

.title {
    /* font-family:garamond,serif; */
    color: var(--dark-primary-color);

    padding-bottom: 30px;
    padding-left: 30px;
    text-shadow: 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color), 0 0 1px var(--dark-fifth-color);
}
.myFace {
    height: 255px;
    width: auto;
    padding-left: 30px;
    margin-top: 0px;
    padding-top: 0px;
}

@media only screen and (min-width: 500px) {
    .myFace {
        height: 255px;
        width: auto;
        padding-left: 30px;
        margin-top: 0px;
        padding-top: 0px;
    }

}

@media only screen and (max-width: 499px) {
    .myFace {
        height: 200px;
        width: auto;
        padding-left: 30px;
        margin-top: 0px;
        padding-top: 0px;

    }

}