@import"https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap";@import"https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap";*,:before,:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb
}

body{
  margin: 0;
}

:root{
  display: flex;
--background-color: #4f374f;
--primary-color:#d9d9d9;
--black-text-color:  #000000;
--light-text-color:  #eeeeee;

--second-color: #ababab;
--stroke-color: rgba(0, 0, 0, 0.25);
--third-color:#584257 ;
--fourth-color: rgba(0, 0, 0, 0.534);
--fifth-color:  rgba(0, 0, 0, 0.438);
--sixth-color: rgba(0, 0, 0, 0.438);
--button-colors:rgb(97, 196, 81);
--box-shadow: rgba(0, 0, 0, 0.438);
}