.aboutmeTop {
  flex-direction: column;
  padding-top: 5vh;
}

.aboutMe {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
  margin-left: 1rem;
  margin-right: 3rem;
}
.awsLogo {
  height: 10vh;
}

.text {
  margin-right: 5vw;
}
.githubContainer {
  display: flex;
  margin-top: 10vh;
  align-items: center;
  justify-content: center;
}

.myFace {
  display: block;

  width: auto;

  margin: auto;
  height: 25vh;
  align-items: center;
  justify-content: center;
}

.textContainer {
}

.expandable {
}

@media (max-width: 550px) {
  .aboutMe {
    flex-direction: column;
  }
  .titleContainer {
    justify-content: space-around;
  }
  .textContainer {
    margin-left: 1rem;
  }
  .myFace {
    height: 20vh;
    margin-bottom: 0;
  }
  .githubContainer {
    margin-top: 2vh;
  }
}

@media (min-width: 1180px) {
  .myFace {
    margin-left: 15vw;
  }
  .text {
    margin-right: 20vw;
  }
}
